p {
  font-family: "Verdana";
  font-size: 0.8em;
  color: #333333;
}

span {
  font-family: "Verdana";
  font-size: 0.8em;
  color: #333333;
}

div {
  font-family: "Verdana";
  font-size: 0.8em;
  color: #333333;
}

hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: solid;
  border-width: 1px;
  width: 92.75%;
  color: #777777;
}

img {
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #777777;
	margin-bottom: 0px;
}

.standard-image {
	width: 300px;
	float: right;
}

.image-caption {
	font-size: 0.625em;
	text-align: center;
	background-color: #eeeeee;
	border-top-style: none;
	border-right-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #777777;
}

.text-125 {
	font-size: 1.0em;
}

.white-text{
	color: #ffffff;
}

.blue-text {
	color: #0000ff;
}

.pagefat-line {
	margin-bottom: 1px;
	border-width: 2px;
	width: 100%;
}

.page-line {
	margin-top: 0px;
	width: 100%;
}

.left-text {
	text-align: left;
}

.center-text {
	text-align: center;
}

.right-text {
	text-align: right;
}

.threat-level {
	display: inline-block;
	width: 100%;
	text-align: center;
	margin: 10px 0px 5px 0px;
}

.threat-white{
	border: 2px solid #333333;
	background-color: #f1f1f1;
}

.threat-blue {
	border: 1px solid #0000ff;
	background-color: #0000ff;
}

.threat-green {
	border: 1px solid #008000;
	background-color: #008000;
}

.threat-yellow {
	border: 1px solid #ffd700;
	background-color: #ffd700;
}

.threat-orange {
	border: 1px solid #ffa500;
	background-color: #ffa500;
}

.threat-red {
	border: 1px solid #ff0000;
	background-color: #ff0000;
}

.threat-black {
	border: 1px solid #333333;
	background-color: #333333;
}
  
.document-box {
	display: inline-block;
	border: 1px dashed #999999;
	background-color: #f5f5f5;
	float: center;
	width: 84%;
	padding: 1px 15px;
	margin: 10px 10px 10px 40px;
}
